body {
    
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

#mission-statement-text {
    font-family: 'Arima Madurai', cursive;
    font-size: 150%;
}

.title-text {
    font-family: 'Exo', sans-serif;
    font-size: 50px;
}

.body-text {
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: #fafafa;
    border-bottom: 1px solid #dddddd;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

#navbar-section-list > li {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

#navbar-logo {
    max-width: 50px;
    height: auto;
}

.nav-link {
    color: #656565 !important;
}

.nav-link:hover {
    color: #000000 !important;
}

.nav-link.active {
    color: #000000 !important;
    text-decoration: none;
    border-bottom: 4px solid #27958b;
}

.primary-color {
    color: #fafafa;
    border-color: #27958b;
    background-color: #27958b;
}

.primary-color:hover, .primary-color:active {
    color: #fafafa !important;
    border-color: #207e76 !important;
    background-color: #207e76 !important;
}

.primary-color-icon {
    color: #27958b;
    background-color: #fafafa;
}

.primary-color-icon:hover {
    color: #207e76;
    background-color: #fafafa;
}

.primary-color-outline {
    color: #27958b !important;
    border-color: #27958b;
    background-color: #fafafa;
}

.primary-color-outline:hover {
    color: #fafafa !important;
    background-color: #27958b;
    border-color: #fafafa;
}

.primary-color-disabled, .primary-color-disabled:hover, .primary-color-disabled:active {
    color: #fafafa !important;
    border-color: #9cd8d2 !important;
    background-color: #9cd8d2 !important;
}

.jumbotron {
    margin-top: 77px;
    height: calc(100vh);
    width: 100vw;
    margin-bottom: 0px;
    
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: color-dodge;
    
    display: table-cell;
    vertical-align: middle;
    
    border-radius: 0;
}

#home-logo {
    max-width: 95%;
    height: auto;
}

#link-down {
    margin-top: -100px;
}

#about, #product, #gallery {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 50px;
    padding-right: 50px;
}

#product {
    padding-top: 186px;
}

#mission-statement {
    padding: 100px;
}

.section-title {
    margin-bottom: 50px;
}

.product-img, #product-accordion {
    height: 400px;
}

.btn-accordian {
    margin: 0;
}

.btn-link {
    color: #27958b;
    text-decoration: none;
}

.btn-link:hover {
    color: #1a645d;
    text-decoration: none;
    
    background-color: #fafafa;
    border-bottom: 1px solid #d8d8d8;
}

.btn-link:focus {
    text-decoration: none;
    border-bottom: 1px solid #d8d8d8;
}

.btn-product-purchase {
    width: 125px;
    margin: 5px;
}

#bbb-logo {
    margin-top: 25px;
    max-height: 50px;
    margin-bottom: 25px;
}

#qg-logo {
    max-height: 100px;
}

@media (max-width: 576px) and (min-width: 767px) {
    #bbb-logo {
        margin-top: 12.5px;
        max-height: 25px;
        margin-bottom: 12.5px;
    }

    #qg-logo {
        max-height: 50px;
    }
}

#mission-statement {
    font-size: 30px;
    color: white;
    
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: color-dodge;
}

#about {
    background-color: #fafafa;
    
    padding-left: 100px;
    padding-right: 100px;
}

@media (max-width: 460px) {
    #about {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 680px) {
    #about {
        padding-left: 25px;
        padding-right: 25px;
    }
}

#about-left {
    padding-top: 6px;
    padding-bottom: 25px;
}

#about-img {
    width: 100%;
    height: auto;
    padding: 15px;
    border: 1px solid #656565;
}

.sm-icon {
    margin-left: 10px;
    margin-right: 10px;
}

#about-social-links, #about-btn {
    margin-top: 15px;
}

#about-btn {
    width: 150px;
}

#gallery {
    background-color: #f7f7f7;
}

#gallery-carousel {
    margin: 0;
}

.gallery-img {
    padding: 10px;
}

.modal-gallery-img {
    height: auto;
    width: 100%;
}

footer {
    padding: 40px;
    background-color: #fafafa;
    color: black;
}

#footer-left-text, #footer-right-text {
    padding-top: 16px;
}

#footer-link {
    color: #27958b;
    text-decoration: none;
}

#footer-link:hover {
    color: #1a645d;
    text-decoration: none;
}

.custom-slick .slick-prev:before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-size: 22px;
    font-weight: 900;
    color: #b3b3b3;
}
.custom-slick .slick-next:before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-size: 22px;
    font-weight: 900;
    color: #b3b3b3;
}

#contactModalName, #contactModalEmail, #contactModalPhone, #contactModalWebsite, #contactModalBody {
    margin-top: 5px;
    margin-bottom: 5px;
}

#nameError, #emailError, #bodyError {
    display: none;
}